button {border: solid black 1px;
    height: 70px;
    width: 70px;
    vertical-align: top;
}
#black {background-color: black;}
#c1 {background-color: red;}
#c2 {background-color: blue;}
#c3 {background-color: yellow;}
th, td {
    border: solid black 1px;
    height: 125px;
    width: 125px;
    background-color: white;
}