button {border: solid black 1px;
    height: 70px;
    width: 70px;
    vertical-align: top;
}
#black {background-color: black;}
#c1 {background-color: red;}
#c2 {background-color: blue;}
#c3 {background-color: yellow;}
.pixel{
    display: inline-block;
    border-width: 1px;
    height: 40px;
    width: 40px;
    margin: 0%;
    background-color: white;
    border-style: solid;
}